<a href="https://colab.research.google.com/github/Jerrin-rajans/Temperature_Prediction/blob/master/Temperature_Prediction_Using_Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#import modules
import pandas as pd # for dataframes
import matplotlib.pyplot as plt # for plotting graphs
import seaborn as sns # for plotting graphs
import datetime as dt
import numpy as np

In [16]:
data = pd.read_excel('temps.xlsx')
data.head()

   year  month  day  week  ...  forecast_noaa  forecast_acc  forecast_under  friend
0  2016      1    1   Fri  ...             43            50              44      29
1  2016      1    2   Sat  ...             41            50              44      61
2  2016      1    3   Sun  ...             43            46              47      56
3  2016      1    4   Mon  ...             44            48              46      53
4  2016      1    5  Tues  ...             46            46              46      41

[5 rows x 12 columns]

In [17]:
#checking for missing values
data.isnull().sum()

year              0
month             0
day               0
week              0
temp_2            0
temp_1            0
average           0
actual            0
forecast_noaa     0
forecast_acc      0
forecast_under    0
friend            0
dtype: int64

In [18]:
#check for correlation of data
data.corr()

                year     month  ...  forecast_under    friend
year             NaN       NaN  ...             NaN       NaN
month            NaN  1.000000  ...        0.119786  0.048145
day              NaN -0.000412  ...       -0.013727  0.024592
temp_2           NaN  0.047651  ...        0.819576  0.583758
temp_1           NaN  0.032664  ...        0.815943  0.541282
average          NaN  0.120806  ...        0.994373  0.689278
actual           NaN  0.004529  ...        0.838946  0.569145
forecast_noaa    NaN  0.131141  ...        0.985670  0.669221
forecast_acc     NaN  0.127436  ...        0.983910  0.696054
forecast_under   NaN  0.119786  ...        1.000000  0.691177
friend           NaN  0.048145  ...        0.691177  1.000000

[11 rows x 11 columns]

In [0]:
#now lets select columns before that lets convert categorical columns to integers by using one hot encoding technique
feature = data['week']

In [0]:
feature = pd.get_dummies(feature)

In [28]:
feature.head(7)

   Fri  Mon  Sat  Sun  Thurs  Tues  Wed
0    1    0    0    0      0     0    0
1    0    0    1    0      0     0    0
2    0    0    0    1      0     0    0
3    0    1    0    0      0     0    0
4    0    0    0    0      0     1    0
5    0    0    0    0      0     0    1
6    0    0    0    0      1     0    0

In [0]:
#now lets replicate the same in the original dataset
data = pd.get_dummies(data,columns=['week'])

In [30]:
data.head()

   year  month  day  temp_2  ...  week_Sun  week_Thurs  week_Tues  week_Wed
0  2016      1    1      45  ...         0           0          0         0
1  2016      1    2      44  ...         0           0          0         0
2  2016      1    3      45  ...         1           0          0         0
3  2016      1    4      44  ...         0           0          0         0
4  2016      1    5      41  ...         0           0          1         0

[5 rows x 18 columns]

In [31]:
data.columns

Index(['year', 'month', 'day', 'temp_2', 'temp_1', 'average', 'actual',
       'forecast_noaa', 'forecast_acc', 'forecast_under', 'friend', 'week_Fri',
       'week_Mon', 'week_Sat', 'week_Sun', 'week_Thurs', 'week_Tues',
       'week_Wed'],
      dtype='object')

In [0]:
col = ['year', 'month', 'day', 'temp_2', 'temp_1', 'average',
       'forecast_noaa', 'forecast_acc', 'forecast_under', 'friend', 'week_Fri',
       'week_Mon', 'week_Sat', 'week_Sun', 'week_Thurs', 'week_Tues',
       'week_Wed']
X = data[col]
Y = data['actual']

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [34]:
X_train.shape

(278, 17)

In [35]:
X_test.shape

(70, 17)

In [36]:
Y_train.shape

(278,)

In [37]:
Y_test.shape

(70,)

In [0]:
#now lets give it to our model for training purposes
from sklearn.ensemble import RandomForestRegressor

r =RandomForestRegressor(n_estimators = 1000, random_state = 42)

In [39]:
r.fit(X_train,Y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [0]:
predictions = r.predict(X_test)

In [41]:
errors = abs(predictions - Y_test)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 3.89 degrees.

In [0]:
mape = 100 * (errors / Y_test)

In [43]:
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 93.85 %.